<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>12:30</td>  <td>Automated Version Control</td> </tr>
      <tr> <td>12:35</td>  <td>Setting Up Git</td> </tr>
      <tr> <td>12:40</td>  <td>Creating a Repository</td> </tr>
      <tr> <td>12:50</td>  <td>Tracking Changes</td> </tr>
      <tr> <td>1:10</td>   <td>Exploring History</td> </tr>
      <tr> <td>1:30</td>   <td>END</td> </tr>
    </table>
  </div>
</div>
