<!--
Ecology workshop
-->
<table class="table table-striped">
  <tbody>
    <tr>
      <td class="col-md-2"></td>
      <td class="col-md-3"><a href="https://datacarpentry.org/python-ecology-lesson/setup.html">Setup</a></td>
      <td class="col-md-7">Download files required for the lesson</td>
    </tr>
    <tr>
      <td class="col-md-2">00:00</td>
      <td class="col-md-3">
        1. <a href="https://datacarpentry.org/python-ecology-lesson/00-before-we-start/index.html">Before we start</a>
      </td>
      <td class="col-md-7">
        What is Python and why should I learn it?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">00:30</td>
      <td class="col-md-3">
        2. <a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html">Short Introduction to Programming in Python</a>
      </td>
      <td class="col-md-7">
        What is Python?
        <br>
        Why should I learn Python?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">00:30</td>
      <td class="col-md-3">
        3. <a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html">Starting With Data</a>
      </td>
      <td class="col-md-7">
        How can I import data in Python?
        <br>
        What is Pandas?
        <br>
        Why should I use Pandas to work with data?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">01:30</td>
      <td class="col-md-3">
        4. <a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html">Indexing, Slicing and Subsetting DataFrames in Python</a>
      </td>
      <td class="col-md-7"> How can I access specific data within my data set?
        <br>
        How can Python and Pandas help me to analyse my data? </td>
    </tr>
    <tr>
      <td class="col-md-2">02:30</td>
      <td class="col-md-3"> 5. <a href="https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format/index.html">Data Types and Formats</a>
      </td>
      <td class="col-md-7"> What types of data can be contained in a DataFrame?
        <br>
        Why is the data type important? </td>
    </tr>
    <tr>
      <td class="col-md-2">03:15</td>
      <td class="col-md-3"> 6. <a href="https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html">Combining DataFrames with Pandas</a>
      </td>
      <td class="col-md-7"> Can I work with data from multiple sources?
        <br>
        How can I combine data from different data sets? </td>
    </tr>
    <tr>
      <td class="col-md-2">04:00</td>
      <td class="col-md-3"> 7. <a href="https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions/index.html">Data Workflows and Automation</a>
      </td>
      <td class="col-md-7"> Can I automate operations in Python?
        <br>
        What are functions and why should I use them? </td>
    </tr>
    <tr>
      <td class="col-md-2">05:30</td>
      <td class="col-md-3"> 8. <a href="https://datacarpentry.org/python-ecology-lesson/07-visualization-ggplot-python/index.html">Making Plots With plotnine</a>
      </td>
      <td class="col-md-7"> How can I visualize data in Python?
        <br>
        What is ‘grammar of graphics’? </td>
    </tr>
    <tr>
      <td class="col-md-2">07:00</td>
      <td class="col-md-3"> 9. <a href="https://datacarpentry.org/python-ecology-lesson/08-putting-it-all-together/index.html">Data Ingest and Visualization - Matplotlib and Pandas</a>
      </td>
      <td class="col-md-7"> What other tools can I use to create plots apart from ggplot?
        <br>
        Why should I use Python to create plots? </td>
    </tr>
    <tr>
      <td class="col-md-2">09:30</td>
      <td class="col-md-3">Finish</td>
      <td class="col-md-7"></td>
    </tr>
  </tbody>
</table>
<!-- <div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Building programs with Python</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version control with Git</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Managing data with SQL</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div> -->
<!--
Genomics workshop
-->
<!--
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.github.io/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.github.io/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.github.io/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.github.io/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="http://www.datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
-->

<!--
Social Science workshop
-->
<!--
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.github.io/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.github.io/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis & Visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-socialsci/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
-->
